AWS_REGION=ap-southeast-2
AWS_AZ_COUNT=2
DOMAIN_NAME=intai.me
CERTBOT_EMAIL=intai.hg@gmail.com
INSTANCE_TYPE=c8i.large
PROJECT_NAME=intai-me-k8s
ENVIRONMENT=production
VM_CPUS=2
VM_MEMORY_MB=2560
VM_DISK_GB=30
SERVER_COUNT=1
HOST1_IP=
HOST2_IP=
